html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  /* color: $brand-color; */
  text-decoration: none;
}

.site-header {
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

.site-branding h1 {
    margin: 0;
    text-align: left;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.collection-nav {
    z-index: 12;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .1em;
    line-height: 2em;
    text-transform: uppercase;
    padding-right: .5em;
    padding-left: .5em;
    position: absolute;
    top: auto;
    left: 50%;
    bottom: 4vw;
    width: 85%;
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -o-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}
