html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #262626;
}

.site-header {
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.site-branding h1 {
    color: #262626;
    margin: 0;
    text-align: left;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.tagline-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: none;
  text-align: center;
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.tagline-wrap p {
  color: #E6644C;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 6vw;
  font-style: normal;
  letter-spacing: -.01em;
  line-height: 1.3em;
  text-transform: none;
  text-decoration: none;
}

/* COLLECTION PREVIEW - GENERAL */

.collection-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.collection-preview-img {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50%;
          flex: 2 1 50%;
}

.collection-preview-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 315px;
}

.collection-preview-desc p, .collection-preview-desc ul {
  color: #262626;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: .1em;
  line-height: 2em;
}

.collection-preview-desc {
  padding-left: 3em;
}
/*
.collection-preview-desc h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 24px;
} */

.collection-preview-desc ul {
  padding-left: 2em;
}

.collection-preview-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* COLLECTION PREVIEW - SPECIFIC */

.epicodus-preview-img {
  -webkit-transform: translateY(7%);
      -ms-transform: translateY(7%);
          transform: translateY(7%);
}

.collection-nav {
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .1em;
    line-height: 2em;
    text-transform: uppercase;
    padding-right: .5em;
    padding-left: .5em;
    position: absolute;
    top: auto;
    left: 50%;
    bottom: 4vw;
    width: 70%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}

.collection-nav-item-span:hover {
  text-decoration: line-through;
}
